/***** RESET *******/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/****** COMMON ******/
.container{
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    display: flex;
}


/****** DEBUG *****/
.sidebar img{
    color: white;
}

/******* BODY *******
/****** MAIN ********/
.sidebar{
    width: 10%;
    background-color: #000000;
}

.mainpanel{
    width: 90%;
    background-color: #141922;
}

main .mainpanelhead{
    background-color: #080b12;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5.625rem;
}

main .mainpanel .mainpanelhead button{
    border: 1px solid white;
    color: white;
    background-color: #080b12;
    margin-right: 0.3125rem;
    padding: 0.9375rem;
    border-radius: 20px;
    
}

main .mainpanel .spotify-nav ul{
    text-decoration: none;
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 1.5625rem;
    padding: 1.25rem 1.875rem;
}

/****** FOOTER *****/




